/**
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
**/

/** Minimal reset **/

html {
box-sizing: border-box;
font-size: 16px;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

ol, ul {
list-style: none;
}

img {
max-width: 100%;
height: auto;
}

/** end minimal rest **/


@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v36-latin-regular.woff2') format('woff2');
}

/**
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/open-sans-v36-latin-700.woff2') format('woff2');
}
**/

/* Defining the fallback */
@font-face {
  font-family: "Open Sans-fallback";
  letter-spacing: 0.4px
  src: local("Georgia");
}

:root {
  --font-regular: Arial, "Open Sans", "Open Sans-fallback", sans-serif;
  --font-content: Georgia;
  --font-size: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.6944)), 1.5rem);
  --text-color: #333333;
  --link-color: #1616B2;
  --background-color: #FBFBFB;
  --link-visited-color: #822998;
  --link-hover-color: #424AE0;
}

html {
  /**  font-size: 112.5%;
  font-size: clamp(16px, 3vw, 20px); **/
  font-size: var(--font-size);
  min-height: 0vw;
  background: var(--background-color);
  } /*18px*/

  body {
    background: var(--background-color);
    font-family: var(--font-regular);
    font-weight: 400;
    line-height: 1.75;
  }

  p {margin-bottom: 1rem;}

  h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: var(--font-regular);
    /**font-family: 'Lora', sans-serif;**/
    font-weight: 400;
    line-height: 1.3;

/**
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;**/
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.441rem;
  }

  p:nth-child(2) {
    margin-top: 0rem;
    margin-bottom: 3rem;
  }

  h2 {font-size: 1.953rem;}

  h3 {font-size: 1.563rem;}

  h4 {font-size: 1.25rem;}

  h5 {font-size: 1.25rem;}

  small, .text_small {font-size: 0.8rem;}

  body {
    max-width: 55ch;
    padding: 1rem;
    margin: auto;
    color: var(--text-color);
  }

  figure {
    padding: 0;
    margin: 0;
  }

  img {
    height: auto;
    width: 100%;
    /* even more control with max-width */
    max-width: 640px;
    transform: translateZ(0);
    -webkit-transform:translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
  }

  a{
    text-underline-offset: 2px;
  }

  a:link {
    color: var(--link-color);
  }

  /* visited link */
  a:visited {
    color: var(--link-visited-color);
  }

  /* mouse over link */
  a:hover {
    color: var(--link-hover-color);
  }

  hr {
    margin-top: 3rem;
    margin-left: calc(-1px - ((100vw - 100%) / 2) + 1px);;
    margin-right: calc(-1px - ((100vw - 100%) / 2) + 1px);;
    border: 5px solid #fff;
  }

  strong {
  font-weight: bold !important;
  }

  footer {
    margin-top: 3rem;
    text-align: center;
  }

  ol li {
    margin-bottom: 15px;
    margin-top: 15px;
  }

/**
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  **/

  ul li{margin-bottom:0.5rem}

  svg{
    width: 90px;
    height: auto;
  }

  /** Table design **/

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    text-align: left;
    padding: 8px;
    /** Hacky to set the width like this **/
    width: 65px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  /** Specific for a blog **/


/**
  p:nth-child(4)::first-letter {
  font-family: "Open Sans", serif;
  font-size: 3.5rem;
  float: left;
  line-height: 0.9;
  margin-right: 0.05em;
  color: #333333;
}
**/
p:nth-child(4){
  margin-top: 3rem;
}


mark {
  margin: 0 -0.4em;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  color: #fff;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8) 4%,
    rgba(0, 0, 0, 0.8)
  );
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.logo{
  text-decoration: none;
}


/**
.blurry-load {
  filter: blur(8px);
}

@keyframes blurOut {
  0% {
    filter: blur(8px);
  }

  50% {
    filter: blur(4px);
  }

  100% {
    filter: blur(0px);
  }
}

.blur-out {
  animation: blurOut 0.2s ease-out;
}

@keyframes shimmer {
  0% {
    background-position: -100vw 0;
  }

  100% {
    background-position: 100vw 0;
  }
}

.no-blur {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: gradient(
    linear,
    left top,
    right top,
    color-stop(8%, #eeeeee),
    color-stop(18%, #dddddd),
    color-stop(33%, #eeeeee)
  );
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
}
**/


.blurry-load {

    -webkit-filter: blur(25px);
    filter: blur(25px);
    transform: scale(1);

/**    transition: filter 500ms; **/
 /**opacity: 0;**/
/** transition: filter 1s; **/
opacity: 0;
transition: opacity 1s ease-in-out;
}

.blur-out {

  /**
    webkit-filter: blur(0);
    filter: blur(0);
    **/
    transition: opacity 500ms ease-in-out;
  /**  transition: opacity 1s; **/
/**    animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; **/
}


img:hover {
    filter: none;
}

#navbar ul {
  list-style-type: none;
  padding: 0;
}

#navbar ul li {
  display: inline;
  margin-right: 10px;
}

#navbar ul li a {
  text-decoration: none;
}

#navbar ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
  text-decoration-thickness: 3px;
}

.loader {
  position: relative;
  overflow: hidden;
  width: auto;
}

.loader .img2 {
  position: absolute;
}

.loader img,
.loader .img2 {
  display: block;
  top: 0;
  left: 0;
}

/* https://stackoverflow.com/a/29111371/270334 */
/* https://stackoverflow.com/a/32928240/270334 */
.img2 {
  position: relative;
  float: left;
  display: block;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    background: #efefef;
  }
}

.frozen {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  transform: scale(1.04);
  animation: 0.2s ease-in 0.4s 1 forwards fade;
  width: 100%;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
