
/* Reset */

  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

  /* Remove default margin in favour of better control in authored CSS */
  body, h1, h2, h3, h4, p,
  figure, blockquote, dl, dd {
    margin: 0;
  }

  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }

  /* Set core body defaults */
  body {
    min-height: 100vh;
    line-height: 1.5;
  }

  /* Set shorter line heights on headings and interactive elements */
  h1, h2, h3, h4,
  button, input, label {
    line-height: 1.1;
  }

  /* Balance text wrapping on headings */
  h1, h2,
  h3, h4 {
    text-wrap: balance;
  }

  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
  }

  /* Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  /* Inherit fonts for inputs and buttons */
  input, button,
  textarea, select {
    font: inherit;
  }

  /* Make sure textareas without a rows attribute are not tiny */
  textarea:not([rows]) {
    min-height: 10em;
  }

  /* Anything that has been anchored to should have extra scroll margin */
  :target {
    scroll-margin-block: 5ex;
  }

/* Typography */

  :root {
    --font-family: Arial, serif;
    --line-height: 1.5rem;
    --link-color: #1616B2;
    --link-visited-color: #822998;
    --link-hover-color: #424AE0;
  }

  /*! Typebase.less v0.1.0 | MIT License */
  /* Setup */
  html {
    /* Change default typefaces here */
    font-family: var(--font-family);
    font-size: 125%; /** 137.5%; **/
    -webkit-font-smoothing: antialiased;
    color: #131516;
    background: #fbfbfb;
  }
  /* Copy & Lists */
  p {
    line-height: var(--line-height);
    margin-top: var(--line-height)
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: var(--line-height);
    margin-bottom: var(--line-height);
  }
  ul li,
  ol li {
    line-height: var(--line-height);
  }
  ul ul,
  ol ul,
  ul ol,
  ol ol {
    margin-top: 0;
    margin-bottom: 0;
  }
  blockquote {
    line-height: var(--line-height);
    margin-top: var(--line-height);
    margin-bottom: var(--line-height);
  }
  /* Headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* Change heading typefaces here */
    font-family: var(--font-family);
    margin-top: var(--line-height);
    margin-bottom: 0;
    line-height: var(--line-height);
  }
  h1 {
    /**
    font-size: 4.242rem;
    line-height: 4.5rem;
    **/

    font-size: 2.488rem;
    line-height: 3rem;

    margin-top: 6rem;
    margin-bottom: calc(var(--line-height) * 3);
  }
  h2 {
    /**
    font-size: 2.074rem;
    line-height: 3rem;
    margin-top: 3rem;
    **/
    font-size: 2.074rem;
    line-height: 3rem;
    margin-top: calc(var(--line-height) * 2);
    margin-bottom: var(--line-height);
  }
  h3 {
    font-size: 1.728rem;
    line-height: 3rem;
    margin-top: calc(var(--line-height) * 2);
    margin-bottom: var(--line-height);
  }
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.833rem;
  }
  /* Tables */
  table {
    margin-top: var(--line-height);
    border-spacing: 0px;
    border-collapse: collapse;
  }
  table td,
  table th {
    padding: 0;
    line-height: 33px;
  }
  /* Code blocks */
  code {
    vertical-align: bottom;
  }
  /* Horizontal line */
  hr {
    background-color: #eee;
    border: 0 none;
    color: #eee;
    height: 1px;
    margin-top: calc(var(--line-height) - 1px);
    margin-bottom: calc(var(--line-height) - 1px);
  }
  /* Leading paragraph text */
  .lead {
    font-size: 1.414rem;
  }
  /* Hug the block above you */
  .hug {
    margin-top: 0;
  }

/* Custom */

  h1 {
    /**
    text-align: center;
    **/
    letter-spacing: -1px;
    color: #373D3F;
  }

  h2 {
    letter-spacing: −1px;
    color: #373D3F;
  }

  main {
    max-width: 55ch;
    margin: auto;
    padding: 0 0.75em;
  }

  figure figcaption{
    margin-bottom: 24px;
  }
  figure {
    margin-top: var(--line-height);
    text-align: center;
  }

  img {
    padding-bottom: 13.5px;
    text-align: center;
  }

  p + p {
    /** text-indent: 1em; **/
    margin-top: var(--line-height)
  }

  article p:first-of-type {
    font-size: 1.2rem;
  }

  footer{
    text-align: center;
    margin-bottom: var(--line-height)
  }

  mark {
    margin: 0 -0.4em;
    padding: 0.1em 0.4em;
    border-radius: 0.8em 0.3em;
    color: #fff;
    background: transparent;
    background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8) 4%,
    rgba(0, 0, 0, 0.8)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  .logo{
    text-decoration: none;
  /**  padding-left: 1rem; **/
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 14px;
    overflow: hidden;
    background-color: #fbfbfb;
  }

  header {
    margin: 0 0.75;
  }

  img {
    height: auto;
    width: 100%;
    /* even more control with max-width */
    max-width: 640px;
  }

  nav li {
    float: left;
  }

  nav li a {
    display: block;
    text-align: center;
/**    padding-right: 1rem; **/
    text-underline-offset: 6px;
  }

  a{
    text-underline-offset: 2px;
  }

  a:link {
    color: var(--link-color);
  }

  /* visited link */
  a:visited {
    color: var(--link-visited-color);
  }

  /* mouse over link */
  a:hover {
    color: var(--link-hover-color);
  }
